synapse/
backend/.env
backend/alembic/
# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
backend/check_table.py
backend/dummy_data.py
backend/generate_token.py
backend/seed_admin.py
backend/static/uploads/
backend/synapse_env/
.DS_Store
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
